<nav role=navigation>
  <ul>
    <li><a href=/>Welcome</a></li>
    <li><a href=/send>Send</a></li>
    <li><a href=/pricing>Pricing</a></li>
    <li><a href=/send>Forms</a></li>
    <li><a href=/questions>Q&amp;A</a></li>
    <li><a href=/future>Future</a></li>
  </ul>
</nav>
