<nav role=navigation>
  <ul>
    <li><a href=/>Welcome</a></li>
    <li><a href=/forms>Forms</a></li>
    <li><a href=/prices>Prices</a></li>
    <li><a href=/businessfolk>For Businessfolk</a></li>
    <li><a href=/lawyers>For Lawyers</a></li>
  </ul>
</nav>
