html {
  font-size: 130%;
  line-height: 1.4;
  text-align: center;
}

header[role=banner], nav, main, footer[role=contentinfo] {
  margin: 0 auto;
  width: 600px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  padding: 0 0.5rem;
  text-transform: lowercase;
}

main {
  text-align: justify;
  text-justify: inter-word;
}

blockquote footer {
  text-align: right;
}

footer[role=contentinfo] {
  text-align: right;
}

/* Inline Elements */

a {
  color: darkgreen;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

abbr[title] {
  border-bottom: 1px dotted black;
  text-decoration: none;
}

li {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

/* / */

blockquote {
  font-size: 95%;
  margin: 1rem;
  position: relative;
}

blockquote:before {
  content: '\201C';
  display: block;
  font-size: 2rem;
  left: -2rem;
  position: absolute;
  top: -0.5rem;
}

/* /forms */

.form {
  border: 1px solid black;
  margin: 1rem 0;
  padding: 1rem;
}

/* /send/:title/:edition */

form .note {
  font-size: 90%;
  font-style: italic;
}

form input {
  box-sizing: border-box;
  display: block;
  padding: 0.5rem;
  width: 100%;
  margin: 0.5rem 0;
}

form .field {
  padding-bottom: 1.5rem;
  position: relative;
}

.signature {
  font-family: "Brush Script", "Lucida Handwriting", "Apple Chancery", cursive;
}

input[type=submit] {
  margin: 2rem 0;
}

.asterisk {
  color: red;
  display: block;
  position: absolute;
  font-size: 130%;
  left: -1rem;
  top: 0;
}
