html {
  line-height: 1.4;
  text-align: center;
}

header[role=banner], nav, main, footer[role=contentinfo] {
  margin: 0 auto;
  width: 600px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  padding: 0 0.5rem;
  text-transform: lowercase;
}

main {
  text-align: justify;
  text-justify: inter-word;
}

blockquote footer {
  text-align: right;
}

footer[role=contentinfo] {
  text-align: right;
}

/* Inline Elements */

a {
  color: darkgreen;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

abbr[title] {
  border-bottom: 1px dotted black;
  text-decoration: none;
}
