html {
  font-size: 130%;
  line-height: 1.4;
  text-align: center;
}

header[role=banner], nav,
main, footer[role=contentinfo] {
  margin: 0 auto;
  width: 600px;
}

nav[role=navigation] {
  border-bottom: 1px solid #777;
  border-top: 1px solid #777;
  padding: 0.5rem 0;
}

nav[role=navigation] ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav[role=navigation] ul li {
  display: inline;
  padding: 0 0.5rem;
}

main {
  text-align: justify;
  text-justify: inter-word;
}

blockquote footer {
  text-align: right;
}

footer[role=contentinfo] {
  font-size: 80%;
  padding: 3rem 0;
  text-align: right;
}

/* Inline Elements */

a {
  color: rgb(16,196,0);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

abbr[title] {
  border-bottom: 1px dotted black;
  text-decoration: none;
}

li {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

/* / */

blockquote {
  font-size: 80%;
  margin: 1rem auto;
  position: relative;
  width: 80%;
}

blockquote:before {
  content: '\201C';
  display: block;
  font-size: 2rem;
  left: -2rem;
  position: absolute;
  top: -0.5rem;
}

/* /send/:title/:edition */

.error {
  border: 1px solid red;
  color: red;
  padding: 1rem;
}

.error:before {
  content: '\274E ';
}

.warning {
  border: 1px solid orange;
  color: orange;
  padding: 1rem;
}

.warning:before {
  content: 'Warning!';
  font-weight: bold;
}

form .note {
  font-size: 90%;
  font-style: italic;
}

form input,
form textarea {
  box-sizing: border-box;
  display: block;
  margin: 0.5rem 0;
  padding: 0.5rem;
  width: 100%;
}

form .field {
  position: relative;
}

.signature {
  font-family: "Brush Script", "Lucida Handwriting", "Apple Chancery", cursive;
  font-style: italic;
}

input[type=submit] {
  margin: 2rem 0;
}

input[readonly=readonly] {
  background: #eee;
}

form > section {
  padding-bottom: 1rem;
}

.asterisk {
  color: red;
  display: block;
  font-size: 130%;
  left: -1rem;
  position: absolute;
  top: 0;
}

/* /countersign */

dl {
  padding: 0 1rem;
}

dt {
  clear: left;
  float: left;
  font-weight: bold;
  width: 8rem;
}

dt:after {
  content: ': ';
}

dd {
  display: block;
  margin-left: 8rem;
}

/* /pricing */

.bigPrice {
  font-size: 400%;
  margin: 0;
  padding: 0;
  text-align: center;
}

/* /send */
.form {
  border: 1px solid black;
  padding: 0 1rem 1rem 1rem;
}

/* /forms */

.listOfForms {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.listOfForms li {
  border: 1px solid black;
  margin: 1rem 0;
  padding: 1rem;
}

/* commonform */

.commonform section section {
  margin-left: 1rem;
}

.commonform section p {
  margin-left: 1rem;
}

.commonform ol ol { list-style-type: lower-alpha; }
.commonform ol ol ol { list-style-type: lower-roman; }
.commonform ol ol ol { list-style-type: upper-alpha; }
.commonform ol ol ol { list-style-type: upper-roman; }

.commonform dfn { font-weight: bold; font-style: normal; }
.commonform dfn:before { content: '\201C'; font-weight: normal; }
.commonform dfn:after { content: '\201D'; font-weight: normal; }
.commonform .use { font-style: italic; }
.commonform .reference { font-style: italic; }

.note {
  border: 1px solid blue;
  color: blue;
  padding: 1rem;
}

.note:before {
  content: 'Note:';
  font-weight: bold;
}

/* Q&A */

.question:before,
.question + *:before
{
  font-weight: normal;
  display: block;
  position: absolute;
  left: -1.5rem;
}


.question {
  position: relative;
}

.question:before {
  content: 'Q:';
}

.question + p {
  position: relative;
}

.question + p:before {
  content: 'A:';
}
