<!doctype html>
<html lang=en>
<head>
  <meta charset=ASCII>
  <title>RxNDA for Businessfolk</title>
{{>stylesheets}}
</head>
<body>
{{>banner}}
{{>nav}}
<main>
  <h2>RxNDA for Businessfolk</h2>

  <h3>Are you my lawyer?</h3>
  <p>RxNDA is not your lawyer.</p>
</main>
{{>footer}}
</body>
</html>
