<!doctype html>
<html lang=en>
<head>
  <meta charset=ASCII>
  <title>RxNDA</title>
{{>stylesheets}}
</head>
<body>
{{>banner}}
<!-- no nav -->
<main></main>
{{>footer}}
<script src=/cancel.js></script>
</body>
</html>
