<!doctype html>
<html lang=en>
<head>
  <meta charset=ASCII>
  <title>RxNDA Forms</title>
{{>stylesheets}}
</head>
<body>
{{>banner}}
{{>nav}}
<main>
  <h2>Forms</h2>
  <ul id=list class=listOfForms></ul>
  {{>forms-overview}}
</main>
{{>footer}}
</body>
</html>
