<!doctype html>
<html lang=en>
<head>
  <meta charset=ASCII>
  <title>&#8478;nda</title>
{{>stylesheets}}
</head>
<body>
{{>banner}}
{{>nav}}
<main>
  <blockquote>
    <p>
      <abbr title='nondiclosure agreements'>NDAs</abbr>
      are everywhere.  So it&rsquo;s hard to convince
      clients how hard is to write a good one, and how
      much a good fit is worth.
    </p>
    <p>
      At the same time, I&rsquo;m sick and fucking tired of
      charging clients niggling fractions of a pricey hour
      to confirm that, yes, the crusty form they&rsquo;ve
      been sent is what we all expected, obscured by no
      more than the usual pointless variation.
    </p>
    <p>
      Clients have better use for the money, and we all
      have better use for the time.  My law practice is
      not a glorified tollbooth.
    </p>
    <footer>&mdash; <cite>K.E. Mitchell</cite></footer>
  </blockquote>
  <p>
    &#8478;nda is a simple Internet service for proposing
    and signing nondisclosure agreements.  It works 1-2-3:
  </p>
  <ol>
    <li>
      Visit <a href=/forms>the forms menu</a>.  If one
      of those forms works for your need, click its
      sign-and-send link.
    </li>
    <li>
      On the send page, fill in any blanks in the form,
      as well as the details for your signature, and
      at least an e-mail address for the other side.
      Type your name again, in a special box, to e-sign.
      Enter your credit card info and click the big button.
    </li>
    <li>
      The site will e-mail the other side a link
      to countersign, and you a link to cancel. If
      they countersign within seven days, we charge
      your card and e-mail everybody a complete Word
      <code>.docx</code> copy of the signed agreement.
      We delete our record of the offer.
    </li>
  </ol>
  <p>
    There&rsquo;s no charge for sending an offer and
    canceling it, or for sending an offer that expires
    after seven days.  We delete our records of canceled
    and expired offers, too.
  </p>
</main>
{{>footer}}
</body>
</html>
