<!doctype html>
<html lang=en>
<head>
  <meta charset=ASCII>
  <title>&#8478;nda</title>
<link href=/normalize.css rel=stylesheet>
<link href=/styles.css rel=stylesheet>
</head>
<body>
<header role=banner>
  <h1>&#8478;nda</h1>
</header>
<nav role=navigation>
  <ul>
    <li><a href=/>Welcome</a></li>
    <li><a href=/forms>Forms</a></li>
    <li><a href=/prices>Prices</a></li>
    <li><a href=/businessfolk>For Businessfolk</a></li>
    <li><a href=/lawyers>For Lawyers</a></li>
  </ul>
</nav>
<main>
  <blockquote>
    <p>
      I&rsquo;m torn on <abbr title='nondiclosure agreements'>NDAs</abbr>.
    </p>
    <p>
      Their ubiquity, and consequent familiarity, lead many
      to grossly underestimate how technical NDAs are and
      have to be, how difficult it is to write or pick a
      good one that fits a client need, and how much a good
      fit is worth.  How much avoidable grief an NDA can
      spare.  Especially when reused over and over again.
    </p>
    <p>
      At the same time, I am, frankly, sick and fucking
      tired of charging clients niggling fractions
      of a pricey hour to confirm that, yes, the NDA
      they&rsquo;ve been sent is what I expected, obscured
      by no more than the usual measure of pointless
      variation, and generally not worth the trouble of
      trying to change.  Every fraction I spend that way
      is time I wouldn&rsquo;t trade for the money, and a
      step backward from the kind of relationship I want
      with my clients.
    </p>
    <footer>&mdash; <cite>K.E. Mitchell</cite></footer>
  </blockquote>
  <p>
    &#8478;nda is a very simple Internet service for
    proposing and signing nondisclosure agreements, as
    well as &ldquo;prescribing&rdquo; published form
    nondisclosure agreements for reuse by clients in
    specific situations.
  </p>
</main>
<footer role=contentinfo>&copy; 2017</footer>
</body>
</html>
