<!doctype html>
<html lang=en>
<head>
  <meta charset=ASCII>
  <title>&#8478;nda</title>
{{>stylesheets}}
</head>
<body>
{{>banner}}
{{>nav}}
<main>
  <blockquote>
    <p>
      I&rsquo;m torn on <abbr title='nondiclosure agreements'>NDAs</abbr>.
    </p>
    <p>
      On the one hand, NDAs are everywhere.  Folks get used
      to using them, even if they&rsquo;ve never read a
      single one through.  So it&rsquo;s hard to convince
      clients how technical NDA terms are and have to be.
      How difficult it is to write an NDA that fits well.
      How much grief a good fit can save.
    </p>
    <p>
      On the other hand, I&rsquo;m sick and fucking tired
      of charging clients niggling fractions of a pricey
      hour to confirm that, yes, the routine, pre-deal NDA
      they&rsquo;ve been sent is what I expected, obscured
      by no more than the usual pointless variation, and
      generally not worth the trouble to try and change.
      That&rsquo;s time and money my clients and I would
      rather apply elsewhere.
    </p>
    <footer>&mdash; <cite>K.E. Mitchell</cite></footer>
  </blockquote>
  <p>
    &#8478;nda is a very simple Internet service for
    proposing and signing nondisclosure agreements, as
    well as &ldquo;prescribing&rdquo; published form
    nondisclosure agreements for reuse by clients in
    specific situations.
  </p>
</main>
{{>footer}}
</body>
</html>
