<!doctype html>
<html lang=en>
<head>
  <meta charset=ASCII>
  <title>&#8478;nda for Lawyers</title>
{{>stylesheets}}
</head>
<body>
{{>banner}}
{{>nav}}
<main>
  <h2>&#8478;nda for Lawyers</h2>

  <h3>I&rsquo;m a practicing lawyer. Are you trying to take my job?</h3>
  <p>&#8478;nda comes in peace.</p>

  <h3>Is this &ldquo;AI&rdquo;?</h3>
  <p>Not even close.</p>
</main>
{{>footer}}
</body>
</html>
