<!doctype html>
<html lang=en>
<head>
  <meta charset=ASCII>
  <title>&#8478;nda</title>
{{>stylesheets}}
</head>
<body>
{{>banner}}
{{>nav}}
<main>
  <h2>Plans</h2>
  <p>
    &#8478;nda&rsquo;s approach is somewhat newfangled.
    Lawyers and clients should judge its service on
    its merits.  But in the position of a customer,
    we&rsquo;d appreciate some sense of the people
    behind the website.  What they&rsquo;re thinking.
    What they&rsquo;re planning.
  </p>
  <p>
    Here&rsquo;s a snapshot of current thinking.
    Yes, these plans are very much subject to change.
  </p>

  <h3>More Forms</h3>
  <p>
    Most lawyers end up with a set of NDA forms for various
    situations&mdash;company-to-company, pre-M&amp;A,
    company-to-contractor, company-to-employee, and so
    on.  Often these collections are very unstructured.
    Seeing an NDA-worthy client situation jogs memory of
    a past deal with a different client.  The lawyer pulls
    the signed NDA from the other client&rsquo;s file and
    repurposes.  Firms and corporate law departments that
    do a great many negotiated NDAs prepare playbooks or
    forms files reviewed by committee on a regular basis.
  </p>
  <p>
    Budget permitting, &#8478;nda will invest earnings
    in contracts with lawyers to prepare additional form
    NDAs, for more common business situations, to give
    everyone access to a public set of off-the-shelf NDAs.
    &#8478;nda will make these forms available for sending
    via rxnda.com, as well as to download and use under
    permissive public licenses.
  </p>

  <h3>Better Forms</h3>
  <p>
    Good form NDAs are refined products of highly technical
    writing.  Even the best writing and technical products
    can always be improved.  The law changes.  Needs
    change.  The craft of contract drafting progresses.
    Good form NDAs must evolve.
  </p>
  <p>
    Budget permitting, &#8478;nda will invest earnings in
    contracts with lawyers to review and revise existing
    &#8478;nda forms.  Ideally, on a regular basis.
    The &ldquo;edition&rdquo; system is built to describe
    improvements to the forms over time, so it&rsquo;s as
    quick and easy as possible for lawyers to assess new
    editions for use by their clients.
  </p>

  <h3>Pricey Books</h3>
  <p>
    To aid our work on the forms, inside and with
    external consultants, we&rsquo;ll need a budget for
    quality treatises and prior-art forms, for reference.
    Law being law, this stuff will cost an arm and a leg.
  </p>
</main>
{{>footer}}
</body>
</html>
