<!doctype html>
<html lang=en>
<head>
  <meta charset=ASCII>
  <title>&#8478;nda Prices</title>
{{>stylesheets}}
</head>
<body>
{{>banner}}
{{>nav}}
<main>
  <p class=bigPrice><span class=use-price></span></p>
  <p>
    Successfully cosigning an NDA costs <span class=use-price></span>,
    charged when the other side countersigns.
    You must use a credit card to pay.
  </p>
  <p>
    Sending an NDA that the other side does not countersign costs nothing.
  </p>
  <p>
    Sending an NDA that you or the other side cancels costs nothing.
  </p>
</main>
{{>footer}}
</body>
</html>
