<!doctype html>
<html lang=en>
<head>
  <meta charset=ASCII>
  <title>&#8478;nda Prices</title>
{{>stylesheets}}
</head>
<body>
{{>banner}}
{{>nav}}
<main>
  <p>
    Successfully cosigning an NDA costs <span id=use-price></span>,
    charged when the other side countersigns.
  </p>
  <p>
    Sending an NDA that the other side does not countersign costs nothing.
  </p>
  <p>You must use a credit card to pay.</p>
</main>
{{>footer}}
</body>
</html>
