<!doctype html>
<html lang=en>
<head>
  <meta charset=ASCII>
  <title>&#8478;nda</title>
{{>stylesheets}}
</head>
<body>
{{>banner}}
{{>nav}}
<main></main>
{{>footer}}
<script src=/send.js></script>
<script src=https://js.stripe.com/v3/></script>
</body>
</html>
