<!doctype html>
<html lang=en>
<head>
  <meta charset=ASCII>
  <title>Send an RxNDA Form</title>
{{>stylesheets}}
</head>
<body>
{{>banner}}
{{>nav}}
<main>
  <h2>Send an RxNDA Form</h2>

  <section id=about>
    <p>
      RxNDA publishes <a href=/forms
        >several nondisclosure agreements</a>
      for different needs and situations.
      Use this short form to find a form to fit your needs.
    </p>
  </section>
  
  {{>forms-overview}}

  <section>
    <h3>Find Your Form</h3>
    <form id=wizard action=/send method=GET></form>
  </section>
</main>
{{>footer}}
</body>
</html>
