<!doctype html>
<html lang=en>
<head>
  <meta charset=ASCII>
  <title>RxNDA Forms</title>
{{>stylesheets}}
</head>
<body>
{{>banner}}
{{>nav}}
<main>
  <h2>RxNDA Forms</h2>

  <section id=about>
    <p>
      RxNDA publishes form nondisclosure agreements
      for different needs and contexts.

      You can use rxnda.com to sign and send these forms
      quickly and conveniently, or use them on your own.
    </p>
  </section>

  <section>
    <h3>Find Your Form</h3>
    <div id=forms></div>
  </section>
</main>
{{>footer}}
<script src=/wizard-data.js></script>
<script src=/form-data.js></script>
<script src=/wizard.js></script>
</body>
</html>
